.homepageLayout {
  display: grid;
  grid-template-columns: 90px 90px 585px 90px 150px 125px 150px 125px 150px 125px 150px 90px;
  grid-template-rows: 90px 150px 25px 66px 150px 25px 68px 150px 25px 66px 150px 25px 90px;
  grid-template-areas: 
  "sidebar . . . . . . . . . . ."
  "sidebar . dialog . figure-family . figure-home . figure-eat-and-drink . figure-my-schedule ."
  "sidebar . dialog . figcaption-family . figcaption-home . figcaption-eat-and-drink . figcaption-my-schedule ."
  "sidebar . dialog . . . . . . . . ."
  "sidebar . dialog . figure-personal-situation . figure-finance . figure-insurance . figure-sleep ."
  "sidebar . dialog . figcaption-personal-situation . figcaption-finance . figcaption-insurance . figcaption-sleep ."
  "sidebar . dialog . . . . . . . . ."
  "sidebar . dialog . figure-subscribtions . figure-installed-apps . figure-used-websites . figure-reminders ."
  "sidebar . dialog . figcaption-subscribtions . figcaption-installed-apps . figcaption-used-websites . figcaption-reminders ."
  "sidebar . dialog . . . . . . . . ."
  "sidebar . dialog . figure-rights-and-obligations . figure-daily-routine . . . . ."
  "sidebar . dialog . figcaption-rights-and-obligations . figcaption-daily-routine . . . . ."
  "sidebar . . . . . . . . . . .";
}

#sidebar {
  grid-area: sidebar;
}

#dialog {
  grid-area: dialog;
}

#figureFamily {
  grid-area: figure-family;
}

#figcaptionFamily {
  grid-area: figcaption-family;
}

#figureHome {
  grid-area: figure-home;
}

#figcaptionHome {
  grid-area: figcaption-home;
}

#figureEatAndDrink {
  grid-area: figure-eat-and-drink;
}

#figcaptionEatAndDrink {
  grid-area: figcaption-eat-and-drink;
}

#figureMySchedule {
  grid-area: figure-my-schedule;
}

#figcaptionMySchedule {
  grid-area: figcaption-my-schedule;
}

#figurePersonalSituation {
  grid-area: figure-personal-situation;
}

#figcaptionPersonalSituation {
  grid-area: figcaption-personal-situation;
}

#figureFinance {
  grid-area: figure-finance;
}

#figcaptionFinance {
  grid-area: figcaption-finance;
}

#figureInsurance {
  grid-area: figure-insurance;
}

#figcaptionInsurance {
  grid-area: figcaption-insurance;
}

#figureSleep {
  grid-area: figure-sleep;
}

#figcaptionSleep {
  grid-area: figcaption-sleep;
}

#figureSubscribtions {
  grid-area: figure-subscribtions;
}

#figcaptionSubscribtions {
  grid-area: figcaption-subscribtions;
}

#figureInstalledApps {
  grid-area: figure-installed-apps;
}

#figcaptionInstalledApps {
  grid-area: figcaption-installed-apps;
}

#figureUsedWebsites {
  grid-area: figure-used-websites;
}

#figcaptionUsedWebsites {
  grid-area: figcaption-used-websites;
}

#figureReminders {
  grid-area: figure-reminders;
}

#figcaptionReminders {
  grid-area: figcaption-reminders;
}

#figureRightsAndObligations {
  grid-area: figure-rights-and-obligations;
}

#figcaptionRightsAndObligations {
  grid-area: figcaption-rights-and-obligations;
}

#figureDailyRoutine {
  grid-area: figure-daily-routine;
}

#figcaptionDailyRoutine {
  grid-area: figcaption-daily-routine;
}
