.divSidebar {
  width: 90px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar, rgba(21, 24, 25, 0.3));
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
}

.divLogo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  padding: 0px 0px 0px 0px;
  border-radius: 3px; 
  border: 1px ;             
  border: solid;
  border-color: #222;
}

.mylifeLogoTL {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}

.mylifeLogoFS {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 0px;
  
  overflow: visible;
}

.mylifeLogoTR {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}

.mylifeLogoBR {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}

.mylifeLogoBL {
  position: absolute;
  top: 45px;
  left: 0;
  overflow: visible;
}